# Xcode
*.xcuserdata
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserdatad/

# Build generated
build/
DerivedData/
*.hmap
*.ipa
*.app.dSYM
.DS_Store

# Various settings
# xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Xcode 사용자 설정 파일 무시
*.xcuserstate
*.xcworkspace/xcuserdata/
Memow.xcodeproj/
Memow.xcodeproj/project.xcworkspace/xcuserdata/
